body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: rgb(227, 135, 135);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.hero {
    background-color: #c6f771;
    background-size: cover;
    text-align: center;
    color: rgb(14, 12, 12);
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.feature {
    flex-basis: 30%;
    padding: 20px;
    background-color: #95f1fc;
    text-align: center;
    border: 1px solid #196fd9;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
